@charset "UTF-8";
header {
  position: sticky;
  top: 0; }
  header nav .lista {
    list-style-type: none;
    background-color: white; }
    header nav .lista .lista__elemento {
      display: inline-block;
      position: relative; }
      header nav .lista .lista__elemento .lista__link {
        display: block;
        color: gray;
        text-align: center;
        padding: 17px 16px;
        text-transform: uppercase;
        font-family: 'Noto Sans JP', sans-serif; }

.subLista {
  display: none;
  position: absolute; }

.subLista li {
  display: block;
  color: gray;
  text-align: center;
  padding: 0 20px;
  text-transform: uppercase;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: white; }

#logo {
  height: 20px;
  width: 20px; }

.lista__elemento a:hover {
  background-color: #111; }

.subMenu:hover > .subLista {
  display: block; }

/*Variables*/
h2 {
  font-size: 18px; }

h3 {
  font-size: 19px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 21px; }

.bannerPrincipal {
  height: 95vh;
  display: flex;
  flex-direction: row;
  padding: 0;
  overflow: hidden; }

.titulo {
  padding-top: 250px;
  padding-left: 50px;
  background-color: white;
  width: 80vh;
  height: 100vh; }

.tituloPrincipal {
  color: black;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  animation: bounce;
  animation-duration: 2s; }

.bannerPrincipal img {
  height: 100vh;
  width: 140vh; }

.bannerPrincipal p,
#cuartoBanner p {
  font-weight: bold;
  padding-right: 20px;
  color: black;
  text-align: left; }

.tarjeta {
  margin: 20px 200px; }

.tarjeta__div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
  background-color: #EBDA3C;
  color: white;
  padding: 50px;
  height: 70%;
  width: 90hv; }

.tarjeta__div:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.tarjeta__pasos {
  text-align: justify; }

/*boton Primario*/
.boton {
  background-color: #EBDA3C;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 15px 32px;
  display: block;
  margin-top: 15px; }

.boton:hover {
  background-color: #FFCF01; }

.subtituloPrincipal {
  font-size: 18px;
  color: black;
  line-height: 1.6;
  font-size: 25px;
  padding-top: 80px;
  padding-left: 50px;
  text-align: center;
  animation: heartBeat;
  animation-duration: 5s; }

.tituloSecundario {
  font-size: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  animation-duration: 2s;
  animation-name: backInDown; }

/*Seccion 2- restaurantes*/
#bannerSecundario {
  height: 70vh;
  color: black !important;
  background-image: url("../images/comedor.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center; }

#bannerSecundario h1,
#bannerSecundario p {
  letter-spacing: 2px;
  text-align: center;
  color: white;
  width: 80%; }

#bannerSecundario h1 {
  padding-top: 200px;
  font-size: 37px;
  font-size: bold; }

#margen {
  margin-left: 50px; }

/*Seccion 4- nosotros*/
#cuartoBanner {
  height: 95vh;
  display: flex;
  flex-direction: row;
  padding: 0;
  overflow: hidden; }

.card {
  height: 100vh;
  width: 80vh;
  background-color: white;
  transition: all 2s;
  text-align: justify;
  padding: 70px 20px 0 20px; }

.card:hover {
  padding-top: 250px;
  padding-left: 50px;
  background-color: white;
  width: 40%;
  height: 100vh;
  transition: all 2s; }

#cuartoBanner img {
  height: 100vh;
  width: 60%; }

/*Seccion 5- unete*/
.unete {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  height: 95vh; }

#quintoBanner {
  width: 50%;
  background-image: url("../images/mercado-28-lima.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.formulario {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: white;
  width: 50%;
  color: black;
  text-align: center;
  align-content: center; }

.formulario__form {
  height: 50%; }

.formulario__parrafo {
  margin-top: 20px;
  margin-bottom: 20px; }

.formulario__input {
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #7a7a7a;
  display: inline-block;
  align-content: center;
  width: 50%;
  font-family: 'Noto Sans JP', sans-serif; }

.formulario__input:hover {
  border-color: black; }

.formulario__boton {
  margin-left: 279px; }

/*FLEXBOX*/
.cuadros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px; }

.cuadros__img {
  margin: 5px; }

.cuadros__img:hover {
  filter: brightness(60%);
  color: white; }

.columna {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 200px; }

.columna__evento {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0; }

.columna__container {
  padding: 2px 16px; }

.columna__titulo {
  margin: 50px 0 0 0; }

.columna__input {
  margin-top: 25px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #7a7a7a;
  display: inline-block;
  align-content: center;
  width: 30%;
  font-family: 'Noto Sans JP', sans-serif; }

.columna__input:hover {
  border-color: black; }

.columna__boton {
  background-color: black; }

.columna__boton:hover {
  background-color: #FFCF01; }

.cardNosotros {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 85px;
  text-align: center; }

.cardNosotros__texto {
  padding: 100px; }

.cardNosotros__titulo {
  margin-bottom: 30px; }

.cardNosotros__parrafo {
  color: black;
  margin-bottom: 20px; }

#parrafo {
  text-align: center; }

/*transformaciones*/
.translate:hover {
  transform: translate(10px, 20px); }

.agrandar:hover {
  transform: scale(2, 2); }

/*animación*/
@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#error {
  height: 95vh;
  max-width: 1400px;
  background-image: url("../images/meet.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#error h1 {
  color: white;
  font-size: 30px;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 30vh;
  padding-left: 20px; }

#error p {
  color: white;
  font-size: 25px;
  font-family: 'Noto Sans JP', sans-serif;
  padding-left: 20px;
  font-weight: bold; }

#error a {
  width: 200px;
  margin-left: 20px; }

.gradiente {
  text-align: center;
  background-image: linear-gradient(to right, #cfa01c, yellow); }

.gradiente__link {
  color: white; }

.gradiente__texto {
  color: black; }

/*gradientes*/
main {
  font-family: 'Noto Sans JP', sans-serif; }

main p p {
  line-height: 1.6; }

/*Pagina Inicio*/
#galery {
  display: grid;
  grid-template-areas: "cuadro cuadro imagen2 imagen3" "cuadro cuadro descripcion2 descripcion3";
  grid-template-columns: 22% 22% 22% 22%;
  grid-template-rows: 65% 50%;
  height: 50vh;
  padding: 40px;
  grid-column-gap: 10px;
  justify-content: center;
  margin-bottom: 50px; }

#galery #picture {
  grid-area: cuadro;
  background-image: url("../images/papaHuancaina.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row; }

#galery #picture2 {
  grid-area: imagen2;
  background-image: url("../images/chifa.jfif");
  background-size: cover;
  background-repeat: no-repeat; }

#galery #picture3 {
  grid-area: imagen3;
  background-image: url("../images/pollo_brasa.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

#galery #desc2 {
  grid-area: descripcion2;
  background-color: white;
  padding: 20px; }

#galery #desc3 {
  grid-area: descripcion3;
  background-color: white;
  padding: 20px; }

#galery p {
  margin-top: 10px;
  text-align: justify;
  color: black; }

.subtituloSecundario {
  color: black;
  font-size: 27px;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;
  animation: swing;
  animation-duration: 4s; }

/*Pagina Restaurante*/
#galery2 {
  display: grid;
  grid-template-areas: "cuadro cuadro imagen2 imagen3" "imagen4 imagen5 imagen6 imagen7" "imagen8 imagen9 cuadro2 cuadro2";
  grid-template-columns: 22% 22% 22% 22%;
  grid-template-rows: 36% 36% 36%;
  height: 100vh;
  padding: 40px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  margin-bottom: 50px; }

#galery2 #cuadro,
#cuadro2,
#imagen2,
#imagen3,
#imagen4,
#imagen5,
#imagen6,
#imagen7,
#imagen8,
#imagen9 {
  background-size: cover;
  background-repeat: no-repeat; }

#galery2 #cuadro {
  grid-area: cuadro;
  background-image: url("../images/papaHuancaina.jpg"); }

#galery2 #imagen2 {
  grid-area: imagen2;
  background-image: url("../images/chifa.jfif"); }

#galery2 #imagen3 {
  grid-area: imagen3;
  background-image: url("../images/comidaMarina.png"); }

#galery2 #imagen4 {
  grid-area: imagen4;
  background-image: url("../images/lomo.jpg"); }

#galery2 #imagen5 {
  grid-area: imagen5;
  background-image: url("../images/pollo_brasa.jpg"); }

#galery2 #imagen6 {
  grid-area: imagen6;
  background-image: url("../images/ceviche.png"); }

#galery2 #imagen7 {
  grid-area: imagen7;
  background-image: url("../images/causa.jpg"); }

#galery2 #imagen8 {
  grid-area: imagen8;
  background-image: url("../images/chifa.jfif"); }

#galery2 #imagen9 {
  grid-area: imagen9;
  background-image: url("../images/chifa.jfif"); }

#galery2 #cuadro2 {
  grid-area: cuadro2;
  background-image: url("../images/papaHuancaina.jpg"); }

/*Pagina Unete*/
#unete {
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-rows: 9% 84% 9%;
  grid-template-columns: 33% 34% 33%; }

#unete header {
  grid-area: header; }

#unete main {
  grid-area: main; }

#unete footer {
  grid-area: footer; }

/*mobile first*/
@media only screen and (max-width: 480px) {
  /*INDEX*/
  nav li {
    display: block;
    position: relative; }
  nav li a {
    text-align: center;
    padding: 17px 16px; }
  .bannerPrincipal {
    display: flex;
    flex-direction: column;
    height: auto; }
  .titulo {
    background-color: white;
    width: 100%;
    height: 40vh;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    align-items: center; }
  .titulo p {
    padding: 0 50px;
    text-align: center; }
  .bannerPrincipal img {
    height: 50vh;
    width: 100%; }
  .tituloPrincipal {
    padding-top: 50px; }
  #altura {
    height: max-content;
    padding: 0;
    height: 130vh; }
  #galery {
    display: grid;
    grid-template-areas: "cuadro" "imagen2" "descripcion2" "imagen3" "descripcion3";
    grid-template-columns: 100%;
    grid-template-rows: 60% 60% 40% 60% 40%;
    padding: 40px;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    justify-content: center;
    margin-bottom: 0px;
    height: auto; }
  .subtituloPrincipal {
    padding-top: 50px;
    padding-left: 0px; }
  /*Restaurantes*/
  #bannerSecundario {
    height: 100vh; }
  #huariques {
    height: 100vh; }
  .cuadros {
    padding: 20px 50px;
    margin: 30px 0; }
  .cuadros__img {
    margin: 5px;
    width: 45%;
    height: 180px; }
  .tarjeta {
    margin: 0;
    height: 100vh;
    padding: 0 50px;
    align-items: center;
    text-align: center; }
  .tarjeta div h3 {
    padding-top: 50px;
    text-align: center; }
  .tarjeta__div {
    margin-top: 40px;
    padding: 20px;
    height: auto;
    width: 80%; }
  #recomendados {
    height: max-content;
    padding: 0 50px; }
  #galery2 {
    display: grid;
    grid-template-areas: "cuadro cuadro imagen2 imagen3" "imagen4 imagen5 imagen6 imagen6" "imagen7 imagen7 imagen8 imagen9";
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 36% 36% 36% 36%;
    height: 100vh;
    padding: 0;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    margin: 20px 0; }
  /*Eventos*/
  .tituloSecundario {
    padding-top: 50px; }
  .columna {
    padding: 10px 50px; }
  .columna img {
    width: 90%;
    height: 50%;
    padding: 12px 17px;
    margin: 0;
    text-align: center; }
  .columna__evento {
    margin-top: 20px;
    align-items: center; }
  .columna__container {
    padding: 5px 17px;
    align-items: center; }
  .columna__container h4 {
    margin-top: 0; }
  .columna__titulo {
    margin: 50px 0 0 0; }
  /*unete*/
  .unete {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    height: auto; }
  #quintoBanner {
    width: 100%;
    height: 30vh;
    background-image: url("../images/mercado-28-lima.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .formulario {
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: white;
    width: 100%;
    color: black;
    text-align: center;
    align-content: center; }
  .formulario h1 {
    padding-top: 0; }
  .formulario p {
    padding: 0 50px; }
  .formulario__boton {
    margin-left: 279px; }
  /*nosotros*/
  #cuartoBanner {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden; }
    #cuartoBanner img {
      height: 50vh;
      width: 100%; }
  .card {
    height: 30vh;
    width: 80vh;
    background-color: white;
    transition: all 2s;
    text-align: justify;
    padding: 50px; }
  .card:hover {
    padding: 0px;
    background-color: white;
    width: 100%;
    height: 30vh;
    transition: all 2s; }
  .card h1 {
    padding-top: 0px; }
  .cardNosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 50px; }
  .cardNosotros__img {
    padding: 0;
    margin: 20px 0;
    width: 100%; }
  .cardNosotros__texto {
    padding: 0; }
  .cardNosotros__titulo {
    margin-bottom: 5px; }
  /**/
  .subLista {
    display: none;
    position: relative; } }

@media (min-width: 481px) and (max-width: 768px) {
  /*INDEX*/
  nav li {
    display: block;
    position: relative; }
  nav li a {
    text-align: center;
    padding: 17px 16px; }
  .bannerPrincipal {
    display: flex;
    flex-direction: column;
    height: auto; }
  .titulo {
    background-color: white;
    width: 100%;
    height: 100vh;
    padding-right: 20px;
    padding-left: 60px;
    padding-top: 0; }
  .bannerPrincipal img {
    height: 100vh;
    width: 100%; }
  .tituloPrincipal {
    padding-top: 180px; }
  #galery {
    display: grid;
    grid-template-areas: "cuadro cuadro" "imagen2 imagen3" "descripcion2 descripcion3";
    grid-template-columns: 50% 50%;
    grid-template-rows: 70vh 50vh 20vh;
    padding: 40px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
    margin-bottom: 0px;
    height: auto; }
  #galery #picture2 {
    background-position: center; }
  #galery #picture3 {
    background-position: center; }
  .subtituloPrincipal {
    padding-top: 50px;
    padding-left: 0px; }
  /*Restaurantes*/
  #bannerSecundario {
    height: 100vh; }
  #huariques {
    height: 100vh; }
  .cuadros {
    padding: 20px 50px; }
  .cuadros__img {
    margin: 5px;
    width: 45%;
    height: 180px; }
  .tarjeta {
    margin: 0;
    height: 100vh;
    padding: 0 50px;
    align-items: center;
    text-align: center; }
  .tarjeta div h3 {
    padding-top: 50px;
    text-align: center; }
  .tarjeta__div {
    margin-top: 40px;
    padding: 20px;
    height: auto;
    width: 80%; }
  #recomendados {
    height: max-content;
    padding: 0 50px; }
  #galery2 {
    display: grid;
    grid-template-areas: "cuadro cuadro imagen2 imagen3" "imagen4 imagen5 imagen6 imagen6" "imagen7 imagen7 imagen8 imagen9";
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 36% 36% 36% 36%;
    height: 100vh;
    padding: 0;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    margin: 20px 0; }
  /*Eventos*/
  .tituloSecundario {
    padding-top: 180px; }
  .columna {
    padding: 10px 50px; }
  .columna img {
    width: 35%;
    height: 40%;
    padding: 12px;
    margin: 0; }
  .columna__evento {
    margin-top: 20px; }
  .columna__container {
    padding: 12px; }
  .columna__titulo {
    margin: 50px 0 0 0; }
  /*unete*/
  .unete {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    height: auto; }
  #quintoBanner {
    width: 100%;
    height: 50vh;
    background-image: url("../images/mercado-28-lima.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  .formulario {
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: white;
    width: 100%;
    color: black;
    text-align: center;
    align-content: center; }
  .formulario h1 {
    padding-top: 0; }
  .formulario__boton {
    margin-left: 279px; }
  /*nosotros*/
  .card {
    height: 100vh;
    width: 80vh;
    background-color: white;
    transition: all 2s;
    text-align: justify;
    padding: 60px 0px 20px 30px; }
  .card:hover {
    padding: 50px;
    background-color: white;
    width: 40%;
    height: 100vh;
    transition: all 2s; }
  .card h1 {
    padding-top: 20px; }
  .cardNosotros {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 50px; }
  .cardNosotros__img {
    padding: 0;
    margin: 20px 0;
    width: 100%; }
  .cardNosotros__texto {
    padding: 0; }
  .cardNosotros__titulo {
    margin-bottom: 5px; }
  /**/
  .subLista {
    display: none;
    position: relative; } }

/*
@media (min-width:769px) and (max-width: 1024px) {
    #unete {
        grid-template-rows: 9% 80% 9%;
    }
    .bannerPrincipal {
        height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .titulo {
        padding-top: 250px;
        background-color: white;
        width: 95vh;
        height: 100vh;
    }
}
*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }
