/*gradientes*/

.gradiente {
    text-align: center;
    background-image: linear-gradient(to right, rgb(207, 160, 28), yellow);
    .gradiente__link {
        color: white;
    }
    .gradiente__texto {
        color: black;
    }
}